body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

offButton {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}